{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    Cadastro de Fornecedor
{% endblock %}

{% block corpo %}

    {% if messages %}

        {% for message in messages %}
        <div class = "row text-center">
            <div class = "alert alert-primary mb-0" role = "alert" style = "padding-top: 2px ; padding-bottom: 2px">
                {{ message }}
            </div>
        </div>
        {% endfor %}

    {% endif %}
    <div class = "container">

        <div class = "row mb-2">
            <div class = "col-2 text-center pt-1 font-weight-bold" style="display: inline">Nome</div>
            <div class = "col-6">{{ form.Nome }}</div>
        </div>

        <div class = "row mb-2">
            <div class = "col-2 text-center pt-1 font-weight-bold" style="display: inline">Endereco</div>
            <div class = "col-6">{{ form.Endereco }}</div>
        </div>

        <div class = "row mb-2">
            <div class = "col-2 text-center pt-1 font-weight-bold" style="display: inline">Telefone</div>
            <div class = "col-6">{{ form.Telefone }}</div>
        </div>

        <div class = "row mb-2">
            <div class = "col-2 text-center pt-1 font-weight-bold" style="display: inline">CNPJ</div>
            <div class = "col-6">{{ form.CNPJ }}</div>
        </div>

    </div>

    <div class = "row text-center">
        <div class = "col-4">
            <button type = "submit" class = "btn btn-outline-danger" href = "/" > Voltar ao Comeco </button>
        </div>
        <div class = "col-4">
            <button type = "submit" class = "btn btn-outline-danger" href = "/fornecedor/lista_fornecedor" > Ver Lista </button>
        </div>
    </div>
{% endblock %}