{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    Cadastro de Fornecedor
{% endblock %}

{% block corpo %}

<div class = "mt-2 mb-3">
    <h5 class="mb-3 text-center">Cadastro de Fornecedor</h5>
    <hr class = "mt-0">

    <form action = '' method = 'POST' novalidate>
        {% for tup in formulario.fields %}
        <div class = "row">
            <div class = "col-4 text-center pt-1" style="display: inline">{{tup}}</div>
            <div class = "col-8">
                <input type="text" id="reg" style="font-size : 15px"
                class="form-control form-control-sm mr-2 mb-2"
                placeholder="{{tup}}">
                {% if tup.error %}
                    <div class = "alert alert-danger mb-0" role = "alert" style = "padding-top: 2px ; padding-bottom: 2px">
                        {% for erro in tup.error %}
                            <small>{{erro}}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class ="text-center mt-3" >
            {% csrf_token %}
            <button class = "btn btn-outline-danger" href = "#" > Cadastrar </button>
        </div>
        
    </form>
</div>


{% endblock %}