{% extends 'base.html' %}

{% load static %}

{% block titulo %}
    {% if 'forn_id' in request.session %}
        Alterando Fornecedor
    {% else %}
        Cadastrando Fornecedor
    {% endif %}
{% endblock %}

{% block corpo %}

<div class = "mt-2 mb-3">

    <h5 class="mb-3 text-center">
        {% if 'forn_id' in request.session %}
            Alterando Fornecedor
        {% else %}
            Cadastrando Fornecedor
        {% endif %}
    </h5>
    <hr class = "mt-0">

    <form id = "fornecedor-form" action = '../cadastra_fornecedor/' method = 'POST' enctype = "multipart/form-data" novalidate>
        {% csrf_token %}
        
        <div class = "row mb-2">
            <div class = "col-4 text-center pt-1" style="display: inline">Nome</div>
            <div class = "col-8">
                {{ formulario.Nome}}
                {% if formulario.Nome.errors %}
                    <div class = "alert alert-danger mb-0" role = "alert" style = "padding-top: 2px ; padding-bottom: 2px">
                        {% for erro in formulario.Nome.errors %}
                            <small>{{ erro }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class = "row mb-2">
            <div class = "col-4 text-center pt-1" style="display: inline">Endereco</div>
            <div class = "col-8">
                {{ formulario.Endereco }}
                {% if formulario.Endereco.errors %}
                    <div class = "alert alert-danger mb-0" role = "alert" style = "padding-top: 2px ; padding-bottom: 2px">
                        {% for erro in formulario.Endereco.errors %}
                            <small>{{ erro }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class = "row mb-2">
            <div class = "col-4 text-center pt-1" style="display: inline">Telefone</div>
            <div class = "col-8">
                {{ formulario.Telefone}}
                {% if formulario.Telefone.errors %}
                    <div class = "alert alert-danger mb-0" role = "alert" style = "padding-top: 2px ; padding-bottom: 2px">
                        {% for erro in formulario.Telefone.errors %}
                            <small>{{ erro }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class = "row mb-2">
            <div class = "col-4 text-center pt-1" style="display: inline">CNPJ</div>
            <div class = "col-8">
                {{ formulario.CNPJ }}
                {% if formulario.CNPJ.errors %}
                    <div class = "alert alert-danger mb-0" role = "alert" style = "padding-top: 2px ; padding-bottom: 2px">
                        {% for erro in formulario.CNPJ.errors %}
                            <small>{{ erro }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class = "row mb-2">
            <div class = "col-4 text-center pt-1" style="display: inline">Logo</div>
            <div class = "col-8">
                {{ formulario.Logo }}
                {% if formulario.Logo.errors %}
                    <div class = "alert alert-danger mb-0" role = "alert" style = "padding-top: 2px ; padding-bottom: 2px">
                        {% for erro in formulario.Logo.errors %}
                            <small>{{ erro }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class ="text-center mt-3" >
            <button type ="submit" id = "submit-btn" class = "btn btn-outline-danger">  
                {% if 'forn_id' in request.session %}Alterar{% else %}Cadastrar{% endif %}
            </button>
        </div>
        
    </form>
</div>


{% endblock %}



{% block domready %}
<script>
    $( document ).ready( function(){
        $( "#submit-btn" ).click( function( event ){

            console.log( "!" )
            return;
            event.preventDefault();

        })
 
    })
</script>
{% endblock %}
