{% extends 'base.html' %}

{% load static %}

{% block titulo %}
   Lista de Fornecedores
{% endblock %}

{% block corpo %}

   <div class = "mt-2 mb-3">
      <h5 class="mb-3">Nossos Fornecedores</h5>
      <p class = "text-left" style = "font-size: 16px" >
         A nossa empresa sempre se comprometeu com qualidade e transparência. Para que o melhor produto chegue a 
         sua mesa, nós escolhemos sempre os produtores que priorizam o bom preço, o tratamento digno de seus fun
         cionários e o meio ambiente. Como um sinal de boa fé, listamos aqui nossos fornecedores.
      </p>
   </div> 

   <div class = "row mb-4">
      <div class = "col-12 col-md-9 mb-2">
         <div class = "row" id = "busca_div">

            <div class = "col-8">
               <input class = "form-control form-control-sm" style = "font-size: 18px;" type = "text" name = "forn_nome" placeholder = "pesquise o fornecedor aqui">
               <div class = "invalid-feedback"> Nome não encontrado </div>
            </div>
            <div class = "col-4">
               <button class = "btn btn-outline-primary btn-busca" style = "font-size: 18px; padding-bottom: 4px"> Buscar </button>
            </div>

         </div>
      </div>

      <div class = "col-12 mb-2 col-md-3 d-flex justify-content-center" id = "cadastro_div">
         <button class = "btn btn-outline-primary">
            <a href = "../cadastra_fornecedor"
            style = "color: inherit; padding-bottom : 4px;"> Cadastrar Novo </a>
         </button>
      </div>
   </div>

   <div class = "row" id = "fornec-card-display" >
      <div class = "col-12 col-md-8 offset-md-2">
         <table class = "table">

            <thead class = "thead-dark">
               <th scope="col" class = "d-none">#</th>
               <th scope="col">Nome</th>
               <th scope="col">CNPJ</th>
               <th scope="col">Telefone</th>
            </thead>
            
            <tbody>

               {% for fornec in forn %}
               <tr>
                  <th scope = "row" class = "d-none" >{{ fornec.id }}</th>
                  <td>
                     <a href = "../visualisar_fornecedor/{{ fornec.id }}"> {{ fornec.Nome }}</a>
                  </td>
                  <td>{{ fornec.CNPJ }}</td>
                  <td>{{ fornec.Telefone }}</td>
               </tr>
               {% endfor %}

            </tbody>
         </table>
      </div>
   </div>
   </div>

   <div style='font-size: 14px; margin-bottom: 28px'>
      {% if forn.has_other_pages %}
         <ul class='pagination'>

            {% if forn.has_previous %}
               <li class='page-item'><a class='page-link' href='?pagina={{ forn.previous_page_number }}'>Anterior</a></li>
            {% else %}
               <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Anterior</a></li>
            {% endif %}

            {% for i in forn.paginator.page_range %}
               {% if forn.number == i %}
                  <li class='page-item active'><a class='page-link' href='#'>{{ i }} </a></li>
               {% else %}
                  <li class='page-item'><a class='page-link' href='?pagina={{ i }}'>{{ i }}</a></li>
               {% endif %}
            {% endfor %}

            {% if forn.has_next %}
               <li class='page-item'><a class='page-link' href='?pagina={{ forn.next_page_number }}'>Próxima</a></li>
            {% else %}
               <li class='page-item disabled'><a class='page-link' href='#' tabindex='-1'>Próxima</a></li>
            {% endif %}

         </ul>
      {% endif %}
   </div>
{% endblock %}

{% block domready %}

   <script>

      $( document ).ready( function(){

         $( ".forn-card" ).hover(

            //-----------------------------------------------------
            // hover in
            function(){
               $( this ).addClass( "border-primary" );
               $( this ).removeClass( "border-secondary" );
            },
            
            //-----------------------------------------------------
            // hover out
            function(){
               $( this ).removeClass( "border-primary" );
               $( this ).addClass( "border-secondary" );
            }
         )

         $( ".forn-card" ).click( function(){

            let id = $( this ).attr( 'id' );
            s = "../visualisar_fornecedor/" + id;
            window.location.assign( s );

         })

         $( ".btn-busca" ).click( function(){
            
            let m = document.getElementById( "busca_div" );
            m = $( m ).find( "input" );

            let url = "../buscar_fornecedor/" + m.val();
            console.log( url );

            $.get( url , function( resposta ){
               if ( resposta.valid ){
                  url = "../visualisar_fornecedor/" + resposta.id;
                  window.location.assign( url );
                  return;
               }
               $( m ).addClass( "is-invalid" );

            })
         })
      })
   </script>
{% endblock %}